body {
    margin-left: 50px;
    margin-right: 75px;
}

.topBanner {
    background-color: grey;
    border: 2px solid black;
    display: flex;
    height: 50px;
    align-items: center;
    
}

.navBarLeft, .navBarRight {
    background-color: purple;
    border: 2px solid yellow;
    display: flex;
    flex: 1;
}

.navBarRight {
    gap: 4px;
    justify-content: flex-end;
}

.logo {
    height: 50px;
}

.mid {
    display: flex;
    height: 250px;
    background-color: black;
    color: white;

}

.midLeft, .midRight {
    flex: 1;
}

img {
    max-width:100%;
} 

.duck {
    height: 100%;
}